.homee1{
    margin:0 auto;
    margin-top: 9rem;
    width: 95%;
    border-radius: 1rem;
    background:linear-gradient(rgba(17,17,17,.7),rgba(17,17,17,.7)), url(../img/cart.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 60vh;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 5rem;
}
.homee1 .contentts{
    text-align: center;
}
.contentts span{
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: .1rem white;
    font-size: 4vw;
    display: block;
}
.contentts h3{
    font-size: 6vw;
    color:white;
}
